{%  extends 'base.html' %}

{% block title %}放射性固体废物管理{% endblock %}

{% block content %}
{#{% include 'ad.html' %}#}
    <hr/>
    <h1 id="rwm_principle">放射性废物管理原则</h1>
        <p id="annotation">摘自《放射性废物管理规定》（GB 14500-2002）</p>
        <ol>
            <li>保护人类健康</li>
            <li>保护环境</li>
            <li>保护后代</li>
            <li>考虑境外影响</li>
            <li>遵守国家法律和法规</li>
            <li>放射性废物产生的最少化</li>
            <li>废物管理各步骤间的相互依赖</li>
            <li>废物管理设施的安全</li>
        </ol>
    <hr/>

    <h1>下面是全球放废管理交流会的网址和IAEA的放废管理数据库</h1>
        <ol>
            <li><a href="http://wmsym.org/" title="wmsym是全球放射性废物管理研讨会">wmsym</a></li>
            <li><a href="http://newmdb.iaea.org/" title="newmdb是IAEA制作的全球在线放射性废物管理数据库">newmdb</a> </li>
        </ol>
    <hr/>

    <b id="test1">下面是测试List的内容，List来自views.py</b>
    <p>
        {% for i in TutorialList %}
            {{ i }}
        {% endfor %}
    </p>
        <b>源代码如下：</b>
            <pre>
            for i in TutorialList:
                print(i)
            </pre>

        <code>
            Python source code
        </code>
    <br/>


    <b>下面是测试Dict的内容，Dict来自view.py</b>
    {% for key, value in waste_info.items %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}

    {% for item in List %}
        {{ item }}{% if not forloop.last %},{% endif %}
    {% endfor %}

{#    {% url 'add' a b %} = { c }#}
{% endblock %}