<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>横向导航栏</title>
        <link rel="stylesheet" type="text/css" href="/static/css/nav.css">
    </head>

    <body>
        <div class = "nav">
            <p class="header-logo">
                <a href="home.html">
                    <img src="/static/images/logo.png" alt="LOGO" align="left">
                </a>

            </p>

            <p class="definition">
                放射性废物-<q>预期不会在利用的废弃物（不管其物理形态如何），它含有放射性物质或被放射性物质污染，
                并且其活度或活度浓度大于审管部门规定的清洁解控水平。</q> <a href="definition_home.html"/>更多</a>
            </p>

            <ul>
                <li><a href="/home.html">首页</a></li>
                <li><a href="/definition_home.html">定义</a></li>
                <li><a href="#">导航2</a></li>
                <li><a href="#">导航3</a></li>
            </ul>


        </div>
    </body>
</html>