h1 {color: red;
    font-size: 24px;}

body {background-color: #d2b48c;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px dotted gray;
    padding: 10px 10px 10px 10px;
    font-family:sans-serif;}

#test1 {color: red;
    font-size: 20px;}

#annotation {color: blueviolet;
    font-style: italic;
    font-size: small;}